@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-color: #FFFFFF;
  --blue-color: #2196F3;
  --hero-background-color: #2F303A;
  --second-background-color: #F5F4FA;
  --second-white-color: rgba(255, 255, 255, 0.6);
  --color-icon: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container, .footer__block, .portfolio, .nav-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.stealth, .main__hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list, .footer__list, .portfolio__list {
  list-style: none;
}

.link, .portfolio__link, .site-nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: color 250ms var(--cubic);
}

.section {
  padding-bottom: 94px;
}

.logo {
  color: var(--blue-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}
.logo__accent {
  color: var(--title-text-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
}

.nav-container {
  display: flex;
  align-items: center;
}

.header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
  margin-left: auto;
  gap: 50px;
}
.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.site-nav .site-nav__link:hover, .site-nav .site-nav__link:focus {
  color: var(--blue-color);
}
.site-nav .current::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
}

.contact-wrap {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contact-wrap__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
  margin-left: auto;
  gap: 50px;
}
.contact-wrap__item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-wrap__contact {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms var(--cubic);
}
.contact-wrap__contact:hover, .contact-wrap__contact:focus {
  color: var(--blue-color);
}
.contact-wrap__icon {
  vertical-align: text-bottom;
  margin-right: 10px;
  fill: currentColor;
}

.nav-item > .link, .nav-item > .portfolio__link, .nav-item > .site-nav__link,
.contacts-item > .link,
.contacts-item > .portfolio__link,
.contacts-item > .site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main__list {
  padding-bottom: 34px;
  color: var(--title-text-color);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin: -8px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.main__item {
  display: flex;
  margin: 8px;
}
.main__menu {
  border: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.main__menu:hover, .main__menu:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio__item {
  width: 370px;
  margin: 15px;
  border: 1px solid #EEEEEE;
}
.portfolio__link {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-block {
  overflow: hidden;
  position: relative;
}
.portfolio-block__image {
  display: block;
}
.portfolio-block__overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.portfolio__link:hover .portfolio-block__overflow, .portfolio__link:focus .portfolio-block__overflow {
  transform: translateY(0);
  outline: transparent;
}

.portfolio-about {
  width: 370px;
  padding: 20px 24px;
}
.portfolio-about__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-about__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 4px;
}

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__block {
  display: flex;
  align-items: baseline;
}
.footer__box:nth-child(2) {
  width: 206px;
  margin-left: 70px;
}
.footer__accent {
  color: var(--white-color);
}
.footer__text {
  font-style: normal;
}
.footer__contact {
  margin-top: 20px;
}
.footer__contact + .footer__contact {
  margin-top: 9px;
}
.footer__address {
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms var(--cubic);
}
.footer__address:hover, .footer__address:focus {
  color: var(--blue-color);
}
.footer__info {
  color: var(--second-white-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms var(--cubic);
}
.footer__info:hover, .footer__info:focus {
  color: var(--blue-color);
}

.footer-join__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-join__list {
  display: flex;
  justify-content: space-between;
}
.footer-join__item {
  border-radius: 50%;
}
.footer-join__item:hover, .footer-join__item:focus {
  background-color: var(--blue-color);
  transition: fill, background-color 250ms var(--cubic), transform 250ms var(--cubic);
}
.footer-join__link {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.footer-join__link {
  fill: var(--white-color);
}
.footer-join__link:hover, .footer-join__link:focus {
  background-color: var(--blue-color);
  transition: fill, background-color 250ms var(--cubic), transform 250ms var(--cubic);
}
.footer-join__icon {
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Пшдписатися на розсилку */
.footer-sub {
  margin-left: 93px;
}
.footer-sub__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-sub__container {
  display: flex;
}
.footer-sub__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: outline, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.footer-sub__input:focus {
  outline: var(--blue-color);
  border-color: var(--blue-color);
}
.footer-sub__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-sub__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-sub__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-sub__submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.footer-sub__submit:hover, .footer-sub__submit:focus {
  box-shadow: none;
}/*# sourceMappingURL=portfolio.css.map */