@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-color: #FFFFFF;
  --blue-color: #2196F3;
  --hero-background-color: #2F303A;
  --second-background-color: #F5F4FA;
  --second-white-color: rgba(255, 255, 255, 0.6);
  --color-icon: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container, .footer__block, .portfolio, .header__container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container, .footer__block, .portfolio, .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container, .footer__block, .portfolio, .header__container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.stealth, .main__hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list, .footer__list, .portfolio__list, .nav-site__list {
  list-style: none;
}

.link, .portfolio__link, .nav-social__link, .nav-contacts__link, .nav-site__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: color 250ms var(--cubic);
}

.section {
  padding-bottom: 94px;
}

.logo {
  color: var(--blue-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.logo__accent {
  color: var(--title-text-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
}

/* -header- */
body.is-fixed {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
  }
}

/* Навигация сайта*/
.header {
  background-color: #FFFFFF;
  line-height: 1.14;
}

.button-burger {
  position: relative;
  outline: none;
  background-color: inherit;
  border: none;
  padding: 0;
  z-index: 10;
  fill: #000;
}
.button-burger:hover {
  fill: var(--blue-color);
}
@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
}

.button-burger .button-burger__open {
  display: none;
}

.button-burger.is-open .button-burger__cross {
  display: none;
}

.button-burger.is-open .button-burger__open {
  display: block;
}

.nav-site__container {
  transition-duration: 250ms;
  transition-timing-function: var(cubic);
  transition-property: transform;
}
@media screen and (max-width: 767.98px) {
  .nav-site__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: var(--white-color);
    overflow-y: auto;
    transform: translateY(-100%);
  }
}
@media screen and (min-width: 768px) {
  .nav-site__container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav-site__container {
    margin-left: 92px;
  }
}

@media screen and (max-width: 767.98px) {
  .nav-site__container.is-open {
    transform: translateY(0);
  }
}

@media screen and (max-width: 767.98px) {
  .nav-site {
    flex-grow: 1;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .nav-site {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .nav-site__list {
    margin-left: 92px;
  }
}
@media screen and (min-width: 768px) {
  .nav-site__list {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 767.98px) {
  .nav-site__items:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767.98px) {
  .nav-site__items {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
  }
}
@media screen and (min-width: 768px) {
  .nav-site__items + .nav-site__items {
    margin-left: 49px;
  }
}
@media screen and (min-width: 768px) {
  .nav-site__items + .nav-site__items {
    margin-left: 50px;
  }
}

.nav-site__link {
  transition-duration: 250ms;
  transition-timing-function: var(cubic);
  transition-property: color;
}
.nav-site__link:hover, .nav-site__link:focus {
  color: var(blue-color);
}
@media screen and (min-width: 768px) {
  .nav-site__link {
    display: block;
    text-decoration: none;
    color: inherit;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-title-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
}

.nav-site__link--active {
  color: var(--blue-color);
}
@media screen and (max-width: 767.98px) {
  .nav-site__link--active {
    padding-bottom: 4px;
    padding-left: 4px;
  }
}
@media screen and (min-width: 768px) {
  .nav-site__link--active {
    position: relative;
  }
  .nav-site__link--active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue-color);
  }
}

/* Контакты */
@media screen and (max-width: 767.98px) {
  .nav-contacts {
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts {
    margin-left: auto;
    display: flex;
  }
}
@media screen and (max-width: 767.98px) {
  .nav-contacts__items:not(:last-child) {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    color: #2196F3;
  }
}
@media screen and (max-width: 767.98px) {
  .nav-contacts:last-child {
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .nav-contacts__items + .nav-contacts__items {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts__items + .nav-contacts__items {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .nav-contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-contacts__icon {
    vertical-align: text-bottom;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .nav-contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts__link {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: var(--blue-color);
}

.nav-social {
  display: flex;
}
@media screen and (min-width: 768px) {
  .nav-social {
    display: none;
  }
}
.nav-social__items:not(:first-child) {
  margin-left: 10px;
}
.nav-social__items:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.nav-social__link {
  color: var(--blue-color);
}

.main__list {
  padding-bottom: 34px;
  color: var(--title-text-color);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin: -8px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.main__item {
  display: flex;
  margin: 8px;
}
.main__menu {
  border: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.main__menu:hover, .main__menu:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio__item {
  width: 370px;
  margin: 15px;
  border: 1px solid #EEEEEE;
}
.portfolio__link {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-block {
  overflow: hidden;
  position: relative;
}
.portfolio-block__image {
  display: block;
}
.portfolio-block__overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.portfolio__link:hover .portfolio-block__overflow, .portfolio__link:focus .portfolio-block__overflow {
  transform: translateY(0);
  outline: transparent;
}

.portfolio-about {
  width: 370px;
  padding: 20px 24px;
}
.portfolio-about__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-about__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 4px;
}

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (max-width: 1199.98px) {
  .footer__box {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-right: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-right: 70px;
  }
}
.footer__box:nth-child(2) {
  width: 206px;
  margin-left: 70px;
}
.footer__accent {
  color: var(--white-color);
}
.footer__text {
  font-style: normal;
}
.footer__contact {
  margin-top: 20px;
}
.footer__contact + .footer__contact {
  margin-top: 9px;
}
.footer__address {
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms var(--cubic);
}
.footer__address:hover, .footer__address:focus {
  color: var(--blue-color);
}
.footer__info {
  color: var(--second-white-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms var(--cubic);
}
.footer__info:hover, .footer__info:focus {
  color: var(--blue-color);
}

.footer-join {
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .footer-join {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    margin-right: auto;
  }
}
.footer-join__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-join__list {
  display: flex;
  justify-content: space-between;
}
.footer-join__item {
  border-radius: 50%;
}
.footer-join__item:hover, .footer-join__item:focus {
  background-color: var(--blue-color);
  transition: fill, background-color 250ms var(--cubic), transform 250ms var(--cubic);
}
.footer-join__link {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.footer-join__link {
  fill: var(--white-color);
}
.footer-join__link:hover, .footer-join__link:focus {
  background-color: var(--blue-color);
  transition: fill, background-color 250ms var(--cubic), transform 250ms var(--cubic);
}
.footer-join__icon {
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Пшдписатися на розсилку */
@media screen and (max-width: 1199.98px) {
  .footer-sub {
    text-align: center;
  }
}
.footer-sub__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .footer-sub__container {
    display: flex;
    align-items: flex-end;
  }
}
.footer-sub__input {
  display: block;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: outline, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
@media screen and (min-width: 768px) {
  .footer-sub__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sub__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.footer-sub__input:focus {
  outline: var(--blue-color);
  border-color: var(--blue-color);
}
.footer-sub__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-sub__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-sub__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-sub__submit {
  padding-top: 30px;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.footer-sub__submit:hover, .footer-sub__submit:focus {
  box-shadow: none;
}/*# sourceMappingURL=portfolio.css.map */