.container {
    @extend .container;
 
}
.main {
    
    &__hide {
        @extend .stealth;
    }
    &__list {
        display: flex;
            gap: 15px 8px;
            flex-wrap: wrap;
        // padding-bottom: 34px;
        // color: var(--title-text-color);
        
        //     display: flex;
        //     justify-content: center;
        //     margin-bottom: 50px;
        //     margin: -8px;
        
            transition-property: color, background-color;
            transition-duration: 250ms;
            transition-timing-function: var(--cubic);
        @media screen and (max-width: $pretablet) {
            max-width: 400px;
        }
    
        @media screen and (max-width: $predesctop) {
            margin-bottom: 40px;
        }
    
        @media screen and (min-width: $tablet) {
            justify-content: center;
        }
    
        @media screen and (min-width: $desctop) {
            margin-bottom: 50px;
        }
    
        }
    &__item {
        display: flex;
        margin: 8px;
    }
    &__menu {
        border: none;
            border-radius: 4px;
            min-width: 73px;
            padding: 6px 22px;
        
        
            color: var(--title-text-color);
            background-color: var(--second-background-color);
        
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.03em;
            cursor: pointer;
            font-family: inherit;
        
            transition-property: color, background-color, box-shadow;
            transition-duration: 250ms;
            transition-timing-function: var(--cubic);

            &:hover,
            &:focus {
                color: var(--white-color);
                background-color: var(--blue-color);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            
                }
    }
}
    


