// hero
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 200px;
    // padding-bottom: 200px;
    background-color: var(--hero-background-color);
   

    max-width: 1600px;
    margin: 0 auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bghero.jpg);
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: $desctop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    &__title {
            color: var(--white-color);
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-transform: uppercase;
            letter-spacing: 0.06em;
    
            margin-bottom: 30px;

            @media screen and (min-width: $desctop) {
                    font-size: 44px;
                    line-height: 1.36;
                }
        }
    &__button {
        color: var(--white-color);
        background-color: var(--blue-color);
        
        cursor: pointer;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        // align-items: center;
        // text-align: center;
        
        padding: 10px 32px;
        border-radius: 4px;
        border: none;

        @media screen and (min-width: $desctop) {
                padding: 10px 32px;
            }
        
        transition: background-color 250ms var(--cubic);
        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            }
    }   
        
    
}

