    // logo
    .logo {
            color: var(--blue-color);
    
            font-family: Raleway;
    
            font-size: 26px;
            line-height: 1.19;
            text-decoration: none;
    margin-right: 93px;
        
        &__accent {
            color: var(--title-text-color);
    
            font-family: 'Raleway';
            font-size: 26px;
            line-height: 1.2;
        }
    }
