// чим ми займаємося
.container {
    @extend .container;
  
}

.work {
    @media screen and (max-width: $predesctop) {
            display: none;
        }
    &__title {
        color: var(--title-text-color);

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;

    }

    &__list {
        @extend .list;

        display: flex;
        justify-content: space-between;
        margin: -15px;
    }

    &__item {
        margin: 15px;
    }

    &__tumbe {
        position: relative;
        overflow: hidden;
    }

    &__box {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;

        background-color: rgba(47, 48, 58, 0.8);
    }

    &__text {
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);
    }
}