:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --hero-background-color: #2F303A;
    --second-background-color: #F5F4FA;
    --second-white-color: rgba(255, 255, 255, 0.6);
    --color-icon: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);

}

$mobile: 480px;
$pretablet: 767.98px;
$tablet: 768px;
$predesctop: 1199.98px;
$desctop: 1200px;